<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ServletBuscar</servlet-name>
        <servlet-class>controller.ServletBuscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBuscarId</servlet-name>
        <servlet-class>controller.ServletBuscarId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletActualizar</servlet-name>
        <servlet-class>controller.servletActualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBorrar</servlet-name>
        <servlet-class>controller.ServletBorrar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletBuscar</servlet-name>
        <url-pattern>/ServletBuscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBuscarId</servlet-name>
        <url-pattern>/ServletBuscarId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletActualizar</servlet-name>
        <url-pattern>/servletActualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBorrar</servlet-name>
        <url-pattern>/ServletBorrar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>hola.html</welcome-file>
    </welcome-file-list>
</web-app>
